@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lilita+One&display=swap');*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body{
  min-height: 100vh;
  font-family: 'Funnel Sans', sans-serif;
  
  
}
a{
  text-decoration: none;
  columns: inherit;
}

@keyframes FadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}